<div class="container" *ngIf="restaurant">
  <h2>{{restaurant.name | uppercase}} Details</h2>
  <div><span>id: </span>{{restaurant.id}}</div>
  <div>
    <span for="restaurant-name">Name: </span>
    <input id="restaurant-name" class="form-control input-detail" pattern="[^0-9]+" #nameInput="ngModel" [class]="nameInput.valid ? 'input-valid' : 'input-invalid'"  required [(ngModel)]="restaurant.name" placeholder="Restaurant name"/>
  </div>

  <div>
    <span for="restaurant-city">City: </span>
    <input id="restaurant-city" class="form-control input-detail" pattern="[^0-9]+" #cityInput="ngModel" [class]="cityInput.valid ? 'input-valid' : 'input-invalid'"  required [(ngModel)]="restaurant.city" placeholder="Restaurant city"/>
  </div>

  <div>
    <span for="restaurant-country">Country: </span>
    <input id="restaurant-country" class="form-control input-detail" pattern="[^0-9]+" #countryInput="ngModel" [class]="countryInput.valid ? 'input-valid' : 'input-invalid'"  required [(ngModel)]="restaurant.country" placeholder="Restaurant country"/>
  </div>

  <div>
    <span for="restaurant-michelinStars">michelin Stars: </span>
    <input id="restaurant-michelinStars" class="form-control input-detail" pattern="[0-9]" #michelinStarsInput="ngModel" [class]="michelinStarsInput.valid ? 'input-valid' : 'input-invalid'"  required [(ngModel)]="restaurant.michelinStars" placeholder="Restaurant michelin stars"/>
  </div>

  <div>
    <span for="restaurant-michelinDate">michelin Date: </span>
    <input id="restaurant-michelinDate" class="form-control input-detail"  pattern="\b\d{4}\b" #michelinDateInput="ngModel" [class]="michelinDateInput.valid ? 'input-valid' : 'input-invalid'"  required [(ngModel)]="restaurant.michelinDate" placeholder="Restaurant michelin date"/>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-dark btn-lg button-back" (click)="goBack()">go back</button>
    <button type="button" class="btn btn-dark btn-lg button-back" (click)="save()">save</button>
  </div>
</div>
